ol,ul{
    list-style: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 17.7px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body{
    background-color:rgb(47, 155, 14);
    font-family: 'Segoe UI', sans-serif;
}
button{
    font-family: 'Segoe UI', sans-serif;
}
p{
    font-size: 20px;
    margin-bottom: 40px;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 21px;
    margin-right: 21px;
    text-align:justify;
}
img{
    height: 411px;
    border-radius: 4px;
    border: 2px solid black;
}
input{
    border-radius: 4px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
button{
  background-color: #000000;
  padding: 10px;
  padding-left: 21px;
  padding-right: 21px;
  color: aliceblue;
  border-radius: 4px;
  border: none;
  
}
h1{
    text-align: center;
}
.geral{
    text-align: center;
}
.principal{
    display: flex;
    text-align: center;
    margin-left: 570px;
}
.nova{
    display: flex;
    margin-left: 21px;
    margin-top: 21px;
}

nav {
	background-color: #f14734;
	display: flex;
	justify-content: center;
    
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.opc {
	margin: 0 10px;
}

.opc {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font-family: 'Segoe UI';
    font-size: 15.5px;
}

.opc:hover {
	background-color: #c20000;
}
